<form action='/branches/new' method="post">
  <input type="text" name="parent"> = <input type="text" name="child1"> + <input type="text" name="child2">
  <br>
  <br>
  <input type="submit" value="branch">
</form>

<%= @tree %>
