<div id="branch_box">
  <% if @logged_in %>
    <%# binding.pry %>
    <p><a href="/<%= @current_user.slug %>">my trees</a> / <a href="/trees">browse</a></p>
  <% else %>
    <p><a href="/login">log in</a> / <a href="/signup">sign up</a></p>
  <% end %>
  <h1>branchr</h1>
  <p class="intro">welcome to branchr! branchr lets you make word trees and view and rate other users' trees. you can use the branch boxes to add branches to a parent branch. you can also change how branches are arranged. you can get started by editing the community tree below. or log in/sign up to make your own trees or browse other users' trees.</p>
  <br>

  <form action="/branches/new" method="post">
    <input type="text" name="parent" id="parent"> < <input type="text" name="child1" id="child1"> <input type="text" name="child2" id="child2">
    <br>
    <input type="submit" value="branch!">
  </form>
  <br>
</div>

<div id="tree">
  <%= @tree %>
</div>
