<p id=new_tree>tree name:</p>
<form id="new_tree" action="/users/<%= @user.slug %>/new" method="POST">
  <input id="new_tree" type="text" name="tree"></input>
  <input id="new_tree" type="submit" value="go">
</form>
<a href="/users/<%= @user.slug %>"><button>cancel</button></a>
