<form action='/mashes' method="post">
  <input type="text" name="whole" placeholder="sofa"> = <input type="text" name="half1" placeholder="chair"> + <input type="text" name="half2" placeholder="couch">
  <input type="submit" value="mash">
  <% if !@user.mashes.empty? %>
    <ul>
      <% @user.mashes.each do |mash| %>
        <li><%= mash.name %></li>
      <% end %>
    </ul>
  <% end %>
</form>
