<form action='/mashes' method="post">
  <% @whole_mashes.each do |mash| %>
    <input type="text" name="mash[]" placeholder="<%= mash %>"> = <input type="text" name="mash[][half1]"> + <input type="text" name="mash[][half2]"><br>
  <% end %>
  <input type="submit" value="mash">
</form>
