<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cutive+Mono|IBM+Plex+Mono|Source+Code+Pro&display=swap" rel="stylesheet">
    <title>branchr</title>
    <style>
      body {
        font-size: 1em;
        font-family: 'Source Code Pro', monospace;
      }
      p.intro {
        width: 900px;
      }
      form {
        position: relative;
      }
      input {
        font-size: 0.5em;
        font-family: 'Source Code Pro', monospace;
      }
      input#parent {
        margin-bottom: 7px;
      }
      input#child1 {
        position: absolute;
        top: -10px;
      }
      input#child2 {
        position: absolute;
        top: 10px;
      }
      ul {
        list-style: none;
        margin-left: 1em;
        padding-left: 2em;
        text-indent: -2em;
      }
      div#branch_box {
        position: fixed;
        background-color: white;
        z-index: 999;
      }
      div#tree {
        position: absolute;
        margin-top: 270px;
      }
      p#new_tree {
        font-size: 1.5em;
        display: inline-block;
      }
      form#new_tree {
        font-size: 1.5em;
        display: inline-block;
      }
      input#new_tree {
        display: inline-block;
      }

      @media only screen and (min-device-width: 768px) {
        body {
          font-size: 1.2em;
        }
        input {
          font-size: 0.8em;
        }
        input#child1 {
          top: -15px;
        }
        input#child2 {
          top: 15px;
        }
        div#tree {
          top: 170px;
        }
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
