<!DOCTYPE html>
<html>
  <head>
    <title>branchr</title>
    <style>
      h1 {
        font-size: 100px;
      }
      input {
        font-size: 25px;
      }
      form {
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
